.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   background: #FFFFFF;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
   // .header__container
   &__container {
   }
   // .header__menu
   &__menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 0;
      min-height: 101px;
      position: relative;
   }
}
.menu {
   // .menu__logo
   &__logo {
      font-family: 'Play';
      font-size: 18px;
      line-height: 267%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #000000;
      z-index: 5;
      padding-left: 74px;
      transition: color 0.3s ease 0s;
      &::before{
         content:'';
         position: absolute;
         background: url('../img/Union.svg')no-repeat;
         top: 0;
         left: 0;
         height: 51px;
         width: 62px;
         transform: translate(0px,50%);
      }
      @media (any-hover: hover){
         &:hover{
            color: #007FA7;;
         }
      }
   }
   // .menu__icon
   &__icon {
   }
   // .menu__body
   &__body {
      flex: 0 1 50.4%;
      padding: 0 15px 0 20px;
      @media (max-width:$tablet){
         position: fixed;
         width: 100%;
         height: 100%;
         overflow: auto;
         top: 0;
         left: -100%;
         background-color: #91c9da;
         transition: left 0.3s ease 0s; 
         padding: 125px 15px 30px 15px;
         &::before{
           content:'';
           position: fixed;
           width: 100%;
           height: 101px;
           top: 0;
           left: -100%;
           z-index: 5;
           background: #FFFFFF;
           transition: left 0.3s ease 0s;
         }
         .menu-open &{
            left: 0;
            &::before{
               content:'';
               left: 0;
            }
         }
      }
   }
   // .menu__list
   &__list {
      display: flex;
      @include adaptiveValue("gap",24,5 );
      flex-wrap: wrap;
      @media (max-width:$tablet){
         display: block;
         &:not(:last-child) {margin-bottom: 30px;}
      }
   }
   // .menu__item
   &__item {
      @media (max-width:$tablet){
         &:not(:last-child) {margin-bottom: 30px;}
      }
   }
   // .menu__link
   &__link {
      font-size: 16px;
      line-height: math.div(22 ,16 );
      transition: color 0.3s ease 0s;
      color: #000000;
      @media (any-hover: hover){
         &:hover{
            color: #007FA7;
         }
      }
      @media (max-width:$tablet){
         font-size: 24px;
      }
   }
   // .menu__contacts
   &__contacts {
   }
   // .menu__call
   &__call {
      @media (max-width:$mobile){
          &:not(:last-child) {margin-bottom: 20px;} 
      }
   }
   // .menu__tel
   &__tel {
      font-size: 16px;
      line-height: math.div(22 ,16 );
      color: #000000;
      position: relative;
      padding-left: 36px;
      &:not(:last-child) {margin-bottom: 5px;}
      &::before{
         content:'';
         position: absolute;
         background: url('../img/Phone.svg')no-repeat;
         top: 0;
         left: 0;
         height: 25px;
         width: 25px;
         transform: translate(0px,-2px);
      }
   }
   // .menu__text
   &__text {
      font-size: 16px;
      line-height: math.div(22 ,16 );
      color: #000000;
      opacity: 0.5;
      border-bottom: 1px dashed #000;
      transition: color 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            color: #007FA7;
         }
      }
   }
   // .menu__btn
   &__btn {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 17px 27px;
      border: 1px solid #000000;
      border-radius: 6px;
      font-family: 'Play';
      font-size: 16px;
      line-height: math.div(19 ,16 );
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #000000;
      transition: all 0.3s ease 0s;
      max-width: 210px;
      @media (any-hover: hover){
         &:hover{
            background: #007FA7;
            border: 1px solid #007FA7;
            color: #fff;
         }
      }
   }
}
.icon-menu {
   display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
.menu__contacts__pc{
   z-index: 5;
   display: flex;
   gap: 50px;
   align-items: center;
   flex: 0 0 auto;
   @media (max-width:$mobile){
       flex-direction: column;
       align-items: flex-start;
       gap: 10px;
   }
}
//====================================================================================================
//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
